*{
    font-family: sans-serif;
}
body{
    margin: 0;
    padding: 0;
}

section{
    width: 100%;
    height: 100vh;
    text-align: center;
    position: absolute;
    clip: rect(0, auto,auto, 0);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    opacity: .85;
}

section .fixed{
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    padding: 25px;
    opacity: .89;
    color: black;
    font-size: 15px;
    font-weight: bold;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.25);
}

section:nth-child(1){
    background-image: url(./assets/test.png);
    top: 0vh;
    z-index: 1;
}
section:nth-child(1) .fixed{
    width: 25vw;
    min-width: 150px;
    transform: translate(-50%,-50%);
    box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
}

section:nth-child(2){
    background-color: #231852;
    top: 100vh;
    z-index: 2;
}
section:nth-child(2) .fixed{
    width: 50vw;
    min-width: 300px;
    transform: translate(-50%,-50%);
    box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
}

section:nth-child(3){
    background-color: #412e4b;
    top: 200vh;
    z-index: 1;
}
section:nth-child(3) .fixed{
    width: 25vw;
    transform: translate(-50%,-50%);
    box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
}

.buttonGroup button{
    background-color: #693572;
    border: 2px solid rgb(255, 255, 255);
    color: white;
    padding: 10px 24px;
    cursor: pointer;
    float: left;
    height: 4vh;
    text-align: center;
}
.buttonGroup button:not(:last-child){
    border-right:none;
}
.buttonGroup:after{
    content:"";
    clear:both;
    display:table;
}
.buttonGroup button:hover{
    background-color: #dee7fe;
    color: black;
    font-weight: bold;
}
button{
    display: flex;
    align-items: center;
    background-color: #f7ed83;
    min-width: 150px;
}