@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100&display=swap');

body{
    font-family: 'Poppins';
    background-color: #131316;
    color: white;
    padding: 0;
    margin: 0;
}

section{
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
}

.hidden{
    opacity: 0;
    transition: all 1s;
}
.shown{
    opacity: 1;
}


.buttonGroup button{
    background-color: #5e5d5e;
    border: 2px solid rgb(255, 255, 255);
    color: white;
    padding: 10px 24px;
    cursor: pointer;
    float: left;
    height: 4vh;
    text-align: center;
}
.buttonGroup button:not(:last-child){
    border-right:none;
}
.buttonGroup:after{
    content:"";
    clear:both;
    display:table;
}
.buttonGroup button:hover{
    background-color: #dee7fe;
    color: black;
    font-weight: bold;
}
button{
    display: flex;
    align-items: center;
    background-color: #f7ed83;
    min-width: 150px;
}